*{
    margin: 0;
    padding: 0;
}
.banner-area{
    background-image: url('../../assets/image/photo-1496181133206-80ce9b88a853.avif');
    background-position: center center;
    background-size:cover ;
    /* -webkit-background-size:cover ; */
    height: 100vh;
    width: auto;
    margin: auto;
}
.menu{
    float: right;
    list-style: none;
    margin-top:30px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'poppins' ,sans-serif;
    font-size: 16px;
}
.menu ul li a:hover{
    color: rgb(199, 139, 255);
}
 .logo{
    height: 20%;
    float: left;
    color: azure;
    list-style: none;
    
} 
.banner-text{
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
}
.banner-text h1{
    text-align: center;
    color:rgb(238, 235, 240);
    // position: absolute;
    // top: -10%;
    // left: 3%;
    text-transform:to-lower-case($string: "");
    font-size: 60px;
    font-family: 'poppins' , sans-serif;
}
.banner-text p{
    color: #fff;
    font-size: 18px;
}
.banner-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}
.banner-text a:hover{
    background-color: white;
    color: rgba(68, 25, 109, 0.623);
    font-weight: bold;
}
// .form-group{
//     position: absolute;
//     top: 55px;
//     left: 55px;
// }
// form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 50px;
  
//     .form-group {
//       margin-bottom: 60px;
  
//       label {
//         display: block;
//         font-size: 1.2rem;
//         color: #333;
//         margin-bottom: 0px;
//       }
  
//       input,
//       select {
//         width: 100%;
//         padding: 10px;
//         border-radius: 5px;
//         border: 1px solid #ccc;
//         background-color: #fff;
//         color: #333;
  
//         &:focus {
//           outline: none;
//           box-shadow: none;
//         }
//       }
  
//       select {
//         appearance: none;
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         background-image: url("data:image/svg+xml;utf8,<svg fill='%23333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
//         background-repeat: no-repeat;
//         background-position: right 10px center;
//         background-size: 16px;
//         padding-right: 40px;
//       }
//     }
  
//     .form-check {
//       display: flex;
//       align-items: center;
//       margin-bottom: 2px;
  
//       input[type="checkbox"] {
//         margin-right: 500px;
//       }
  
//       label {
//         color: #333;
//         font-size: 1.2rem;
//       }
//     }
  
//     .btn {
//       margin-right: px;
//       margin-left: 1000px;
//       padding: 10px 20px;
//       border-radius: 5px;
//       font-size: 1.2rem;
  
//       &.btn-primary {
//         background-color: #93c7f5;
//         border-color: #94c5f0;
  
//         &:hover {
//           background-color: #95c3e6;
//           border-color: #73a2d1;
//         }
//       }
  
//       &.btn-secondary {
//         background-color: #93c7f5;
//         border-color: #94c5f0;
  
//         &:hover {
//           background-color: #95c3e6;
//           border-color: #73a2d1;
//         }
//       }
//     }
//   }

//   .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//   }
